@font-face {
    font-display: auto;
    font-family: "Cantarell";
    src: url('../fonts/Cantarell-Regular.ttf') format("truetype");
}

html {
    font-size: 1rem;
}

body {
    font-family: 'Cantarell', sans-serif;
}

.no-webp body {
    background-image: url('../img/bg-240.png');
}

.webp body {
    background-image: url('../img/bg-240.webp');
}

.no-webp #chalkboard {
    background-image: url('../img/chalkboard-240.png') 
}

.webp #chalkboard {
    background-image: url('../img/chalkboard-240.webp') 
}

#contact-header {
    padding-bottom: 0
}

#header, #chalkboard, #clients {
    background-color: transparent
}

#logo {
    max-height: 240px;
    max-width: 100%
}

#chalkboard {
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5%;
    width: 90%
}

#chalkboard a {
}

#chalkboard .menu-item {
    margin-top: 3%;
    height: 15%
}

#chalkboard .menu-item img, #chalkboard .works img {
    max-height: 100%;
    max-width: 90%
}

.chalkboard-image {
    height: 100%;
    max-width: 100%
}

#chalkboard .works {
    margin-top: 3%;
    height: 35%
}

@media(min-width:240px ) {
    .no-webp body {
        background-image: url('../img/bg-320.png') 
    }

    .webp body {
        background-image: url('../img/bg-320.webp') 
    }

    .no-webp #chalkboard {
        background-image: url('../img/chalkboard-320.png') 
    }

    .webp #chalkboard {
        background-image: url('../img/chalkboard-320.webp') 
    }

    #chalkboard {
        height: 154px;
        width: 210px 
    }
    
    h2, h3 {
    	font-size: 1.25rem;
    }
}

@media(min-width:320px ) {
    .no-webp body {
        background-image: url('../img/bg-480.png') 
    }

    .webp body {
        background-image: url('../img/bg-480.webp') 
    }

    .no-webp #chalkboard {
        background-image: url('../img/chalkboard-480.png') 
    }

    .webp #chalkboard {
        background-image: url('../img/chalkboard-480.webp') 
    }

    #chalkboard {
        height: 209px;
        width: 285px 
    }
    
    h2 {
    	font-size: 1.5rem;
    }
    
    h3 {
    	font-size: 1.25rem;
    }
}

@media(min-width:480px ) {
    .no-webp body {
        background-image: url('../img/bg-576.png') 
    }

    .webp body {
        background-image: url('../img/bg-576.webp') 
    }

    .no-webp #chalkboard {
        background-image: url('../img/chalkboard-576.png') 
    }

    .webp #chalkboard {
        background-image: url('../img/chalkboard-576.webp') 
    }

    #chalkboard {
        height: 323px;
        width: 440px 
    }
    
    h2 {
    	font-size: 1.75rem;
    }
    
    h3 {
    	font-size: 1.5rem;
    }
}

@media(min-width:576px ) {
    .no-webp body {
        background-image: url('../img/bg-768.png') 
    }

    .webp body {
        background-image: url('../img/bg-768.webp') 
    }

    .no-webp #chalkboard {
        background-image: url('../img/chalkboard-768.png') 
    }

    .webp #chalkboard {
        background-image: url('../img/chalkboard-768.webp') 
    }

    #chalkboard {
        height: 374px;
        width: 510px 
    }
}

@media(min-width:768px ) {
    .no-webp body {
        background-image: url('../img/bg-992.png') 
    }

    .webp body {
        background-image: url('../img/bg-992.webp') 
    }

    .no-webp #chalkboard {
        background-image: url('../img/chalkboard-992.png') 
    }

    .webp #chalkboard {
        background-image: url('../img/chalkboard-992.webp') 
    }

    /*html {
        font-size: 1.2rem 
    }*/

    #chalkboard {
        height: 506px;
        width: 690px 
    }
}

@media(min-width:992px ) {
    .no-webp body {
        background-image: url('../img/bg-1200.png') 
    }

    .webp body {
        background-image: url('../img/bg-1200.webp') 
    }

    .no-webp #chalkboard {
        background-image: url('../img/chalkboard-1200.png') 
    }

    .webp #chalkboard {
        background-image: url('../img/chalkboard-1200.webp') 
    }

    /*html {
        font-size: 1.3rem 
    }*/

    #chalkboard {
        height: 704px;
        width: 960px 
    }
}

@media(min-width:1200px ) {
    .no-webp body {
        background-image: url('../img/bg.png') 
    }

    .webp body {
        background-image: url('../img/bg.webp') 
    }

    .no-webp #chalkboard {
        background-image: url('../img/chalkboard.png') 
    }

    .webp #chalkboard {
        background-image: url('../img/chalkboard.webp') 
    }

    /*html {
        font-size: 1.4rem 
    }*/

    #chalkboard {
        width: 87%
    }
}

#clients {
    margin-top: 0
}

#clients img {
    max-height: 100px 
}

.bg-dark-grey {
    background-color: #383838 !important
}

.bg-light-grey {
    background-color: #dadada !important
}

.btn-dark-grey {
    background-color: #383838;
    border-color: #383838;
    color: #fff
}

.btn-dark-grey:hover {
    background-color: #fff;
    border-color: #383838;
    color: #383838
}

.indented {
    text-indent: 2.5rem !important
}

.jumbotron-rounded {
    border-radius: .75rem;
    padding: 1.5rem 
}

.navbar-icon {
    height: 2rem;
    width: auto
}

.slogan {
    font-style: italic;
    font-weight: bold;
    text-align: center
}

.special-offer-banner {
    border-radius: .75rem;
    padding: .5rem 1.5rem 
}

