	
    </main>
    
    <footer class="container-fluid bg-dark-grey">
      <div class="row justify-content-center">
        <div class="col-6 col-sm-5 col-lg-4">
          <div class="navbar-text text-white mr-1">&copy; Wildions. 2018-2021</div>
          <div class="nav-item ml-auto">
          	<a href="https://www.paypal.me/wildions">
          		<img class="img-fluid" src="img/checkout-logo-medium-alt-es.png" alt="Pago fácil con PayPal">
          	</a>
          </div>
        </div>
        <div class="col-6 col-sm-5 col-lg-4">
          <div class="nav-item mr-auto">      
            <a href="/legal-notice/" class="nav-link text-white text-uppercase" rel="nofollow">Aviso legal y política de privacidad</a>
          </div>
          <div class="nav-item mr-auto">      
            <a href="/calc/" class="nav-link text-white text-uppercase">Calcular presupuesto</a>
          </div> 
        </div>
      </div> 
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha256-dHf/YjH1A4tewEsKUSmNnV05DDbfGN3g7NMq86xgGh8=" crossorigin="anonymous"></script>
  </body>
</html>
