    <link rel="icon" href="favicon.ico?v=2" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type='text/css'>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151563429-1"></script>
    <script>
    	windo.dataLayer = window.dataLayer || [];
    	function gtag() {dataLayer.push(arguments);}
    	gtag('js', new Date());
    	
    	gtag('config', 'UA-151563429-1');
    </script>
    <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>
    <script>
      // Picture element HTML5 shiv
      document.createElement( "picture" );
    </script>
    <script src="js/picturefill.min.js" async></script>
    <script src="js/modernizr-custom.js"></script>
  </head> 
  <body>
  
    <nav id="contact-header" class="navbar navbar-expand navbar-light bg-transparent">
	   <ul class="navbar-nav mr-auto">
	     <li class="nav-item">
	       <a class="nav-link" href="tel:+34644712878">
	       	<img class="navbar-icon" src="img/icons/device-mobile.svg" alt="Teléfono 1" title="Teléfono 1">
	       </a>
	     </li>
	     <li class="nav-item">
	       <a class="nav-link" href="tel:+34644632779">
	       	<img class="navbar-icon" src="img/icons/device-mobile.svg" alt="Teléfono 2" title="Teléfono 2">
	       </a>
	     </li>
	     <li class="nav-item">
	       <a class="nav-link" href="mailto:info@wildions.com">
	       	<img class="navbar-icon" src="img/icons/mail.svg" alt="Email" title="Email">
	       </a>
	     </li>
	     <li class="nav-item">
	       <a class="nav-link" href="calc.php">
	       	<img class="navbar-icon" src="img/icons/calculator.svg" alt="Calcular presupuesto" title="Calcular presupuesto">
	       </a>
	     </li>
	   </ul>
	   <ul class="navbar-nav ml-auto">
	     <li class="nav-item">
	       <a class="nav-link" href="/blog/" rel="nofollow">
	       	<img class="navbar-icon" src="img/icons/blogger.svg" alt="Blogger" title="Blogger">
	       </a>
	     </li>
	     <li class="nav-item">
	       <a class="nav-link" href="https://www.facebook.com/Wildions-Creación-Web-1893027860815346" rel="nofollow">
	       	<img class="navbar-icon" src="img/icons/facebook-letter-logo.svg" alt="Facebook" title="Facebook">
	       </a>
	     </li>
	     <li class="nav-item">
	       <a class="nav-link" href="https://twitter.com/wildions" rel="nofollow">
	       	<img class="navbar-icon" src="img/icons/twitter.svg" alt="Twitter" title="Twitter">
	       </a>
	     </li>
	   </ul>
	 </nav>
	 
    <div id="header" class="container text-center pt-1 pb-3">	   
	   <a class="navbar-brand" href="https://wildions.com">
	     <picture>
	       <!--[if IE 9]><video style="display: none;"><![endif]-->
	       <source srcset="img/wildions-logo.webp" media="(min-width: 1200px)" type="image/webp">
	       <source srcset="img/wildions-logo.png" media="(min-width: 1200px)">
          <source srcset="img/wildions-logo-992.webp" media="(min-width: 992px)" type="image/webp">
          <source srcset="img/wildions-logo-992.png" media="(min-width: 992px)">
          <source srcset="img/wildions-logo-768.webp" media="(min-width: 768px)" type="image/webp">
          <source srcset="img/wildions-logo-768.png" media="(min-width: 768px)">
          <source srcset="img/wildions-logo-576.webp" media="(min-width: 576px)" type="image/webp">
          <source srcset="img/wildions-logo-576.png" media="(min-width: 576px)">
          <source srcset="img/wildions-logo-480.webp" media="(min-width: 480px)" type="image/webp">
          <source srcset="img/wildions-logo-480.png" media="(min-width: 480px)">
          <source srcset="img/wildions-logo-240.webp" type="image/webp">
          <!--[if IE 9]></video><![endif]-->
          <img id="logo" src="img/wildions-logo-240.png" alt="Logo de Wildions" title="Logo de Wildions">
	     </picture>
	   </a>
    </div>
    
    <main id="main" class="container">
